<p>
    <small>You're receiving this e-mail because you registered with our system.</small>
</p>
<h1>Welcome to our website</h1>
<b> Hi, <%=name%></b>
<p>
    You were registered on our patient management system.
    If you are going to have an account on our system and logged in please click <a href='<%=hostname%><%=activateURL%><%=patientId%>/<%=activatekey%>'>here</a>.

    Or please follow below url.
    <%=hostname%><%=activateURL%><%=patientId%>/<%=activatekey%>
</p>
<p>
    <em>
        The Connect1to1 Team.
    </em>
</p>
